<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.bookstore.mapper.OrderMapper">

    <resultMap id="BaseResultMap" type="com.briup.bookstore.po.Order">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="userId" column="user_id" jdbcType="INTEGER"/>
            <result property="addressId" column="address_id" jdbcType="INTEGER"/>
            <result property="createDate" column="create_date" jdbcType="TIMESTAMP"/>
            <result property="payWay" column="pay_way" jdbcType="VARCHAR"/>
            <result property="trackingNumber" column="tracking_number" jdbcType="INTEGER"/>
            <result property="distributionMode" column="distribution_mode" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="INTEGER"/>
            <result property="payDate" column="pay_date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,address_id,
        create_date,pay_way,tracking_number,
        distribution_mode,status,pay_date
    </sql>
</mapper>
